@charset "UTF-8";

/**********************************************
                   行  
***********************************************/


.m-auto{margin:0 auto;}
.text-start{text-align: left;} 
.text-center{text-align: center;} 
.text-end{text-align: right;} 


@media (min-width: 576px){
.text-sm-start{text-align: left;} 
.text-sm-center{text-align: center;} 
.text-sm-end{text-align: right;} 
}
@media (min-width: 768px){
  .text-md-start{text-align: left;} 
  .text-md-center{text-align: center;} 
  .text-md-end{text-align: right;} 
}
@media (min-width: 992px){
  .text-lg-start{text-align: left;} 
  .text-lg-center{text-align: center;} 
  .text-lg-end{text-align: right;} 
}

@media (min-width: 1200px){
  .text-xl-start{text-align: left;}
  .text-xl-center{text-align: center;}
  .text-xl-end{text-align: right;}

}
@media (min-width: 1400px){
  .text-xxl-start{text-align: left;}
  .text-xxl-center{text-align: center;}
  .text-xxl-end{text-align: right;}

}







/**********************************************
                   スペース  
***********************************************/

.mt-5{margin-top:3rem;}
.mt-4{margin-top:2rem;}
.mt-3{margin-top:1rem;}
.mt-2{margin-top:0.5rem;}
.mt-1{margin-top:0.25rem;}

.mb-5{margin-bottom:3rem;}
.mb-4{margin-bottom:2rem;}
.mb-3{margin-bottom:1rem;}
.mb-2{margin-bottom:0.5rem;}
.mb-1{margin-bottom:0.25rem;}

.mr-5{margin-right:3rem;}
.mr-4{margin-right:2rem;}
.mr-3{margin-right:1rem;}
.mr-2{margin-right:0.5rem;}
.mr-1{margin-right:0.25rem;}

.ml-5{margin-left:3rem;}
.ml-4{margin-left:2rem;}
.ml-3{margin-left:1rem;}
.ml-2{margin-left:0.5rem;}
.ml-1{margin-left:0.25rem;}

.my-5{margin:3rem 0;}
.my-4{margin:2rem 0;}
.my-3{margin:1rem 0;}
.my-2{margin:0.5rem 0;}
.my-1{margin:0.25rem 0;}

.mx-5{margin:0 3rem;}
.mx-4{margin:0 2rem;}
.mx-3{margin:0 1rem;}
.mx-2{margin:0 0.5rem;}
.mx-1{margin:0 0.25rem;}


.pt-5{padding-top:3rem;}
.pt-4{padding-top:2rem;}
.pt-3{padding-top:1rem;}
.pt-2{padding-top:0.5rem;}
.pt-1{padding-top:0.25rem;}

.pb-5{padding-bottom:3rem;}
.pb-4{padding-bottom:2rem;}
.pb-3{padding-bottom:1rem;}
.pb-2{padding-bottom:0.5rem;}
.pb-1{padding-bottom:0.25rem;}

.pr-5{padding-right:3rem;}
.pr-4{padding-right:2rem;}
.pr-3{padding-right:1rem;}
.pr-2{padding-right:0.5rem;}
.pr-1{padding-right:0.25rem;}

.pl-5{padding-left:3rem;}
.pl-4{padding-left:2rem;}
.pl-3{padding-left:1rem;}
.pl-2{padding-left:0.5rem;}
.pl-1{padding-left:0.25rem;}

.py-5{padding-top:3rem;padding-bottom:3rem;}
.py-4{padding-top:2rem;padding-bottom:2rem;}
.py-3{padding-top:1rem;padding-bottom:1rem;}
.py-2{padding-top:0.5rem;padding-bottom:.0.5rem;}
.py-1{padding-top:0.25rem;padding-bottom:0.25rem;}

.px-5{padding-left:3rem; padding-right:3rem;}
.px-4{padding-left:2rem; padding-right:2rem;}
.px-3{padding-left:1rem; padding-right:1rem;}
.px-2{padding-left:0.5rem; padding-right:0.5rem;}
.px-1{padding-left:0.25rem; padding-right:0.25rem;}

.p-5{padding:3rem;}
.p-4{padding:2rem;}
.p-3{padding:1rem;}
.p-2{padding:0.5rem;}
.p-1{padding:0.25rem;}

.gap-0{  gap:0rem;}
.gap-1{  gap:0.25rem;}
.gap-2{  gap:0.5rem;}
.gap-3{  gap:1rem;}
.gap-4{  gap:1.5rem;}
.gap-5{  gap:2rem;}


@media screen and (min-width: 768px),print {
  .gap-md-0{  gap:0rem;}
  .gap-md-1{  gap:0.25rem;}
  .gap-md-2{  gap:0.5rem;}
  .gap-md-3{  gap:1rem;}
  .gap-md-4{  gap:1.5rem;}
  .gap-md-5{  gap:2rem;}
}

  @media screen and (min-width: 992px),print {
.gap-lg-0{  gap:0rem;}
.gap-lg-1{  gap:0.25rem;}
.gap-lg-2{  gap:0.5rem;}
.gap-lg-3{  gap:1rem;}
.gap-lg-4{  gap:1.5rem;}
.gap-lg-5{  gap:2rem;}
    

 }



/**********************************************
                   カ ラ ー      
***********************************************/


.bg-gray{ background: #eee;}


.text-Red{color:#ff382e;}
.text-Pink{color:#ff2e58;}
.text-DeepPink{color:#ff1493;}
.text-Hotpink {color:#ff69b4;}
.text-Violet {color:#ee82ee;}
.text-blueviolet {color:#8a2be2 ;}
.text-Purp{color:#b33de6;}
.text-DeepPurple{color:#801fff;}
.text-darkviolet{color:#9400d3;}
.text-plum{color:#dda0dd;}
.text-orchid{color:#da70d6;}
.text-Indigo{color:#3e5ed0;}
.text-Blue{color:#007bff;}
.text-LightBlue{color:#009efa;}
.text-Cyan{color:#20c4d9;}
.text-Teal{color:#2abba8;}
.text-Green{color:#4ad962;}
.text-LightGreen{color:#79de2b;}
.text-Lime{color:#bee22c;}
.text-Yellow{color:#f7e226;}
.text-Amber{color:#f6b213;}
.text-Orange{color:#ff9500;}
.text-DeepOrange{color:#ff4f1a;}
.text-Brown{color:#b07663;}
.text-Grey{color:#9e9e9e;}
.text-LightGrey{color:#efefef;}
.text-BlueGrey{color:#6e96aa;}
.text-black{color:#000000;}
.text-white{color:#ffffff;}

.bg-Red{background-color:#ff382e;}
.bg-Pink{background-color:#ff2e58;}
.bg-DeepPink{background-color:#ff1493;}
.bg-Hotpink {background-color:#ff69b4;}
.bg-Violet {background-color:#ee82ee;}
.bg-blueviolet {background-color:#8a2be2 ;}
.bg-plum{background-color:#dda0dd;}
.bg-orchid{background-color:#da70d6;}
.bg-Purp{background-color:#b33de6;}
.bg-darkviolet{background-color:#9400d3;}
.bg-DeepPurple{background-color:#801fff;}
.bg-Indigo{background-color:#3e5ed0;}
.bg-Blue{background-color:#007bff;}
.bg-LightBlue{background-color:#009efa;}
.bg-Cyan{background-color:#20c4d9;}
.bg-Teal{background-color:#2abba8;}
.bg-Green{background-color:#4ad962;}
.bg-LightGreen{background-color:#79de2b;}
.bg-Lime{background-color:#bee22c;}
.bg-Yellow{background-color:#f7e226;}
.bg-Amber{background-color:#f6b213;}
.bg-Orange{background-color:#ff9500;}
.bg-DeepOrange{background-color:#ff4f1a;}
.bg-Brown{background-color:#b07663;}
.bg-Grey{background-color:#9e9e9e;}
.bg-LightGrey{background-color:#efefef;}
.bg-BlueGrey{background-color:#6e96aa;}
.bg-Black{background-color:#000000;}
.bg-White{background-color:#ffffff;}



/**********************************************
                  width      
***********************************************/

.w-10{width:10%;}
.w-20{width:20%;}
.w-30{width:30%;}
.w-40{width:40%;}
.w-50{width:50%;}
.w-60{width:60%;}
.w-70{width:70%;}
.w-71{width:71%;}
.w-72{width:72%;}
.w-73{width:73%;}
.w-74{width:74%;}
.w-75{width:75%;}
.w-76{width:76%;}
.w-77{width:77%;}
.w-78{width:78%;}
.w-79{width:79%;}
.w-80{width:80%;}
.w-90{width:90%;}
.w-100{width:100%;}
.w-105{width:105%;}

.vw-100{width:100vw;}
.vw-50{width:50vw;}

/**********************************************
                  height     
***********************************************/

.h-10{height:10%;}
.h-20{height:20%;}
.h-30{height:30%;}
.h-40{height:40%;}
.h-50{height:50%;}
.h-60{height:60%;}
.h-70{height:70%;}
.h-80{height:80%;}
.h-90{height:90%;}
.h-100{height:100%;}

.vh-100{height:100vh;}
.vh-90{height:90vh;}
.vh-80{height:80vh;}
.vh-70{height:70vh;}
.vh-60{height:60vh;}
.vh-50{height:50vh;}
.vh-40{height:40vh;}
.vh-30{height:30vh;}
.vh-20{height:20vh;}
.vh-10{height:10vh;}



/**********************************************
                   ライン      
***********************************************/


.text-decoration-underline {border-bottom:1px solid #efefef; }
.text-decoration-underline-d {border-bottom:1px dotted #efefef; }

/**********************************************
                   見出しライン      
***********************************************/


.heading-line {border-top:1px solid #efefef;
  border-bottom:1px solid #efefef;
padding: 1rem; 
margin: 2.5rem 0; }








/**********************************************
                   テーブル      
***********************************************/

.table{
    padding: .5rem;
    border-bottom-width: 1px;
    border-collapse: collapse;

  }

  .table-bordered {
 
    border-style: solid;

  }


  .table-bordered td{
    border-color: #dee2e6;
    border-color: inherit;
    border-style: solid;

  }

  td, th { border: 1px #dee2e6 solid;
    padding:.7rem; }


/**********************************************
                   リスト      
***********************************************/


  .list-unstyled {
    padding-left: 0;
    list-style: none;
  }

ul.list-group{
  margin: 0;
  padding: 0;
}
  .list-group-item:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }
  .list-group-item {
    position: relative;
    display: block;
    padding: .5rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
  }

  .list-style-bottom-solid{
  border-bottom:1px solid #fff;

  }

.list-style-top-solid{
    border-top:1px solid #fff;
    }