@charset "UTF-8";
/*---------------------------------------------*/
/*PC設定*/
.pc {
  display: block;
}
.sp {
  display: none;
}
/*---------------------------------------------*/
/*背景*/
body {
  background: #000;
    font-family: "a-otf-ryumin-pr6n", serif;
font-weight: 300;
font-style: normal;
color:#FFF;text-align:center;margin:0;padding:0;font-size:16px;line-height:1.7em;
}
#wrapper {
background: #000; overflow: hidden;
}
    /*ページローダー*/
 #loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #000;
  z-index: 10000000000;
}
#loader {
  display: none;
  position: fixed;
  top: 47%;
  left: 50%;
  width: 104px;
  height: 104px;
  margin-top: -52px;
  margin-left: -52px;
  text-align: center;
  color: #000;
  z-index: 10000000001;
}
#loader img{width:160px;}

/*---------------------------------------------*/
/*汎用設定*/
#contents {
width: auto!important;padding:0;
}
p.size20{font-size:20px;}
p.size30{font-size:30px;margin-bottom:1em;}

.left180{margin-left:180px;}
strong{font-size:30px;  font-weight:normal; color:#d5a400;}

.centerPict{text-align:center;}
.centerPict img{display: inline-block;}

/*---------------------------------------------*/
/*TOP*/
.zoids h1{background: #da174b;
padding: 5px 0 2px;margin-bottom:20px;
font-size: 14px;
color: #000;
text-align: center;}

section#top{width:100%;}

section#top .block1{width:100%;height:500px;margin:0 auto;padding-top:210px;text-align: center;}

section#top .block1 p#ad{font-size:42px;color:#b70000;margin-bottom:1em;}
section#top .block1 .scroll{margin-top:40px;}

section#top .block2{width:100%;height:1100px;margin:0 auto;position: relative;}

section#top .block2 .title{width:300px;position: absolute;top:280px;left:-700px;right:0;margin:0 auto;z-index:2;}

section#top .block2 .redBar{width:1280px;height:320px;position: relative;background: url(_image/top_redbar.png)center top no-repeat; position: absolute;bottom:-235px;left:0px;right:0;margin:0 auto;z-index:2;}

section#top .block2 .redBar dl{width:1066px;margin:110px auto 0;}
section#top .block2 .redBar dl dt{width:330px;float:left;}
section#top .block2 .redBar dl dd{margin-left:360px;text-align: left;font-size:17px;}

section#top .block2 .bgFix{width:100%!important; height: auto; padding-top:1100px; background:url(_image/top_bg_fix.jpg) center top no-repeat; position: relative;z-index:0;}

section#top .block2 .redBar:before {
content: "";
width: 50vw;
height: 320px;
position: absolute;
left: -50vw;top:0;
background: #b70000;
padding: 0;
}

section#top .block2 .redBar:after {
content: "";
width: 50vw;
height: 320px;
position: absolute;
right: -50vw;top:0;
background: #b70000;
padding: 0;
}


section#top .block3{width:100%;background:#000;margin-top:0px;position: relative;z-index:0;padding-top:220px}

/* MOVIE */

section#top .mov {
  width: 800px;
  margin: 120px auto;text-align: center;
}
section#top .mov img{width:100%;}
section#top .youtube {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  box-sizing: border-box;
}
.youtube iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}

/* parse */
section#top .parseBlock{width:1280px;height:760px;margin:0 auto;position: relative;}
section#top .parseBlock .title{width:631px;position: absolute;right:120px;z-index:1}
section#top .parseBlock .img{width:1280px;position: absolute;top:100px;z-index:0}




/* section parse1 */
section#parse1{width:100%;margin:0 auto;}
section#parse1 .bg0{width:2000px; position: absolute; top:0; right:0 left:0; margin:0 auto;z-index:-1;}
section#parse1 .inner{width:1280px;margin:0 auto;position: relative;padding-top:80px;z-index:1;}
section#parse1 .inner .title{width:631px;}
section#parse1 .inner .maskBox{width:100px;height:400px;background:#000;position:absolute;top:220px;left:160px;}

section#parse1 .inner .lead{width:340px;position: absolute;left:290px;top:385px;text-align: left;}

section#parse1 .inner .sketchImg{width:470px;position: absolute;right:120px;top:380px;}
section#parse1 .inner .sketchImg p{color:#d5a400;font-size:26px;line-height:1.7em;text-align: left; margin-bottom:10px;}

section#parse1 .inner .imgBox {width:1130px;height:400px; margin:100px 50px 100px 100px;;text-align: left;display:block;position: relative;}

section#parse1 .inner .imgBox h2{position: absolute;left:0;top:0;z-index:2}
section#parse1 .inner .imgBox .img1{position: absolute;right:0;top:40px;z-index:1}
section#parse1 .inner .imgBox p{position: absolute;width:360px; left:130px;top:270px;z-index:3}



/* section parse2 */
section#parse2{width:100%;margin:0 auto;text-align: left;}

section#parse2 .inner .maskBox{width:100px;height:450px;background:#000;position:absolute;top:220px;left:160px;}

section#parse2 .inner{width:1280px;margin:0 auto;position: relative;padding-top:0px;}
section#parse2 .inner .title{width:631px;}
section#parse2 .inner .lead{width:550px;position: absolute;left:300px;top:250px;text-align: left;}
section#parse2 .bg1{width:900px;position: absolute;left:0px;right:0;margin:0 auto;top:410px;}

.inner .specList{width:1110px;margin:90px auto 0;display:flex;flex-wrap: wrap;}
.inner .specList li{width:320px;position: relative;margin:25px;}
.inner .specList li p{margin-top:10px;}

.inner .specList li:first-child:before{content: "";
width: 44px;height: 44px;position: absolute;left: -22px;top:-22px;
background:url(_image/1x/pict_num1.png)no-repeat;padding: 0;}

.inner .specList li:nth-child(2):before{content: "";
width: 44px;height: 44px;position: absolute;left: -22px;top:-22px;
background:url(_image/1x/pict_num2.png)no-repeat;padding: 0;}

.inner .specList li:nth-child(3):before{content: "";
width: 44px;height: 44px;position: absolute;left: -22px;top:-22px;
background:url(_image/1x/pict_num3.png)no-repeat;padding: 0;}



/* section parse3 */
section#parse3{width:100%;margin:100px auto 0;text-align: left;}
section#parse3 .inner{width:1280px;margin:0 auto;position: relative;}
section#parse3 .inner .title{width:631px;}
section#parse3 .inner .maskBox{width:100px;height:400px;background:#000;position:absolute;top:220px;left:160px;}
section#parse3 .inner .lead{width:420px;position: absolute;left:300px;top:250px;text-align: left;}
section#parse3 .bg1{width:900px;position: absolute;left:0px;right:0;margin:0 auto;top:410px;}


/* section spec*/
section#spec{width:100%;margin:0 auto;text-align: left;}
section#spec .inner1{width:1280px;height:1000px;margin:0 auto;position: relative;padding-top:80px;}
section#spec .inner1 .title{width:521px;}
section#spec .inner1 .bg1{width:800px;position: absolute;top:250px;right:100px;}
section#spec .inner1 .bg2{width:620px;position: absolute;top:690px;left:150px;}
section#spec .inner1 .lead{width:500px;position: absolute;left:140px;top:330px;text-align: left;font-size:30px;color:#d5a400;line-height:1.7em}

section#spec .inner1 .lead2{width:500px;position: absolute;right:0px;top:710px;text-align: left;border-top:1px solid #990000;border-bottom:1px solid #990000;padding:50px 50px 50px 100px; font-size:18px;line-height:1.7em;}


/* PKG*/
#pkg {
    width: 100%;
    margin: 100px 0;
    position: relative;
}
#pkg .inner{width:1080px;margin:0 auto; position: relative;z-index:1}
#pkg .inner p.attention{width:440px;display:block;font-size:12px;line-height:1.2em;margin-top:20px;margin-left:auto;margin-right:0;}

#pkg .line{
    width:100%;height:600px;position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #b70000;
    transform: skewY(-10deg);
    z-index: 0;
}

/* GALLERY*/

#gallery{width:1080px; margin:0px auto 0;}
#gallery h2{margin:18px 0;}
#gallery1 dt{width:590px;float:left;}
.slider{width:590px;}
.slider img{width:100%;}
#gallery1 dd{margin-left:610px;}


.thumbnail-img {
  opacity: 0.5;
  transition: opacity .3s linear;
  width: calc(100% / 4) !important;
}
.thumbnail-img img{width:100%;padding:5px;}
.thumbnail .slick-current {
  opacity: 1;
}

.slick-track {
  transform: unset !important;
}

/* info*/

#info{width:1280px;height:825px;margin:0px auto 0;position:relative;}

#info .img1{width:800px;position: absolute;top:320px;left:100px;z-index:0;}

#info .inner{width:440px;left:740px;top:160px;position: absolute;z-index:1;}

#info .inner p.days{font-size:30px;line-height:1.7em;margin-top:100px;}
#info .inner p.price{font-size:16px;}
#info .inner p.attention{font-size:12px;line-height:1.7em;margin-top:55px;}

section#spec .btn{width:500px;margin:120px auto 0;}