@charset "utf-8";
#t-spark_top .maxImg img{width:100%;}

.pc {
    display: block;
}

/* story */
#t-spark_top #story {
    margin: 150px auto;
    text-align: center;
    width: 70%;
}

#t-spark_top #story p {
    font-family: "dnp-shuei-nmincho-std", sans-serif;
    text-align: center;
    margin-bottom: 50px;
}

#t-spark_top .title_img {
    width: 800px;
    margin-bottom: 50px;
}

#t-spark_top .story_img {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#t-spark_top .story_img img {
    width: 48%;
}

/*movie*/
#t-spark_top #movie{
    width: 100%;
    height: auto;
    position: relative;
    background: url(../img/bg_movie.png) center top no-repeat;
    padding: 150px 0;
    text-align: center;
}

#t-spark_top #movie .title_img {
    margin-bottom: 0;
}

#t-spark_top #movie:before{content: '';
    width: 100%;height: 229px;background:url(../img/bg_line.png) center top;position: absolute;top:-115px;left: 0;
}
#t-spark_top #movie:after{content: '';
    width: 100%;height: 229px;background:url(../img/bg_line.png) center top;position: absolute;bottom:-115px;left: 0;
}

/*PRODUCT*/

#t-spark_top #product{
    width:100%;
    margin:0 auto;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0 180px;
    margin: 0;
    font-family: "dnp-shuei-nmincho-std", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 720px;
}

#t-spark_top #product .img01 {
    position: absolute;
    width: 700px;
    left: 250px;
    top: 100px;
}

#t-spark_top #product .product_text {
    position: absolute;
    right: 240px;
    top: 340px;
}

#t-spark_top #product .name_img {
    width: 450px;
    margin-bottom: 20px;
}

#t-spark_top #product h2{width:100%;height:72px; margin:0 auto;background: url("../img/h2_product.png") center top no-repeat;background-size:cover;font-size:0;}

#t-spark_top #product .img1{width:100%;position: relative;z-index:2;}
#t-spark_top #product .title{width:700px;margin:80px auto;position: relative;z-index:2;}
#t-spark_top #product .text1{text-align:center;font-size:18px;line-height:40px;position: relative;z-index:2;}

#t-spark_top #product dl.specBox{width:1040px; margin:80px auto 0;font-size:16px;line-height:25px;}
#t-spark_top #product dl.specBox.num2{margin:0 auto;}  
#t-spark_top #product dl.specBox dt{width:480px;float:left;}
#t-spark_top #product dl.specBox dt img{margin-bottom:20px;}
#t-spark_top #product dl.specBox dd{width:550px;height:300px;margin-left:530px;display:flex;justify-content: center;align-items: center;}

/* GALLERY*/
section#gallery{width:100%;background:#000;padding:100px 0;position: relative;z-index:10;text-align: center;}
section#gallery .inner{width:1200px;height:auto;margin:0 auto;}

dl#gallery{width:1080px; margin:0 auto;}
dl#gallery dt{width:590px;float:left;}
.slider{width:590px;}
.slider img{width:100%;}
dl#gallery dd{margin-left:610px;}


.thumbnail-img {
  opacity: 0.5;
  transition: opacity .3s linear;
  width: calc(100% / 4) !important;
}
.thumbnail-img img{width:100%;padding:5px;}
.thumbnail .slick-current {
  opacity: 1;
}

.slick-track {
  transform: unset !important;
  display: flex;
  flex-wrap: wrap;
}


    /*INFO*/

#info{width:100%;padding-top:100px;padding-bottom: 50px;background-image: url("../img/bg_info.png");background-image: url(../img/bg_info.png);background-size: cover;}

#info .info_box {
    display: flex;
    width: 80%;
    margin: 0 auto 100px;
    justify-content: space-between;
    align-items: end;
}

#info img.info_img01 {
    width: 50%;
    object-fit: contain;
}

#info .info_text {
    width: 43%;
}

#info p.caution{width:640px;margin:0 auto;font-size:13px;}
#info p.copy{margin-top:100px;text-align: center; font-size:15px;}
#info .btnBuy{width:500px;margin:60px auto;}

.img{
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width:768px) {

.pc {
    display: none;
}

/*MOVIE*/
#t-spark_top #movie{
    width:100%;height:auto;background: url("../img/bg_movie.png");background-size:cover;padding-top:6%;padding-bottom:6%;}
#t-spark_top #movie div.mv{width:96%;margin:4vw auto;}
#t-spark_top #movie h2{width:100%;height:35px;margin:0 auto;background: url("../img/h2_movie.png") center top no-repeat;background-size:240% auto;}
     
/* story */
#t-spark_top #story {
    margin: 50px auto;
    width: 80%;
}

#t-spark_top .title_img {
    width: 100%;
    margin-bottom:30px;
}

#t-spark_top #story p {
    margin-bottom: 30px;
}


/*PRODUCT*/
#t-spark_top #product{
    width:100%;margin:0 auto;position: relative;
    margin: 0;
    text-align: center;
    padding: 100px 0 100px;
}


#t-spark_top #product .img01 {
    position: static;
    width: 90%;
}

#t-spark_top #product .product_text {
    position: static;
    width: 80%;
    text-align: left;
    margin: 30px auto 0;
}

/* sec */
#sec_sp {
    background-image: url(../img/sec_bg_sp.png);
    background-size: 130%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 200vh;
    width: 100%;
    object-fit: cover;
    object-position: 100% 100%;
}

/* GALLERY*/
section#gallery {padding:50px 0;}
#gallery h2{width:40%!important; margin:18px auto;position: static!important;}
section#gallery .inner{width:100%;height:auto;margin:0 auto;padding:0;}
dl#gallery {width:100%; margin:0 auto; padding: 100px 0 0;}
dl#gallery  dt{width:100%;float:none;}
.slider{width:100%;}
.slider img{width:100%;}
dl#gallery  dd{margin-left:auto;}

/*INFO*/

#info{width:100%;background:#000; background: url("../img/bg_info.png") center top no-repeat #000;background-size:cover;}
#info p.caution{width:90%;margin:0 auto;font-size:2.5vw;}
#info p.copy{margin-top:7vw;text-align: center; font-size:2.5vw;}
#info .btnBuy{width:80%;margin:0px auto 5vw;}

#info .info_box {
    flex-direction: column;
    align-items: center;
    margin: 0 auto 50px;
}

#info img.info_img01 {
    width: 80%;
}

#info .info_text {
    width: 80%;
}
    
}