@charset "UTF-8";
/*----------------------------------------------------------------------------*/
.pc {
  display: block;
}
.sp {
  display: none;
}

/* TOP */
#item_detail {
  font-size: 15px;
  background-color: #000;
}
#item_detail p.heading {
  text-shadow: 1px 1px 4px #bf0a0a, -1px 1px 4px #bf0a0a, 1px -1px 4px #bf0a0a,
    -1px -1px 4px #bf0a0a;
}

.fixed_logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
  z-index: 999;
}

/* init */
#item_detail h2 {
  font-size: 7vw;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  margin: 0;
}

/* LEAD */
#item_detail #lead .inner .lead-description {
  background-image: url(../img/bg_01.png);
  height: 390px;
  width: 100%;
  background-size: cover;
  padding: 7vw;
}
#item_detail #lead .inner dl dt {
  width: 400px;
  height: 210px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
#item_detail #lead .inner dl dd {
  margin-left: 490px;
}
#item_detail #lead .inner dl dd strong {
  font-family: "a-otf-ryumin-pr6n", serif;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 20px;
  display: block;
}

/* SEC1 */
#item_detail #sec1 {
  width: 100%;
  background-size: cover;
  position: relative;
  background-image: url(../img/gg_bg01.png);
}

#item_detail #sec1 .inner div {
  position: absolute;
}
#item_detail #sec1 .inner .copy {
  width: 51px;
  top: 260px;
  left: 150px;
}
#item_detail #sec1 .inner .title {
  width: 407px;
  top: 260px;
  left: 225px;
}
#item_detail #sec1 .inner .caption {
  width: 500px;
  bottom: 4vw;
  left: 10.8vw;
}
#item_detail #sec1 .inner .capStrong {
  font-size: 30px;
  top: 780px;
  left: 250px;
  font-weight: bold;
}

#item_detail #sec1 .inner ul {
  position: absolute;
  width: 930px;
  margin: 0px auto;
  top: 850px;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
}

#item_detail #sec1 .inner ul li {
  width: 29.33%;
  margin: 2%;
}
#item_detail #sec1 .inner ul li:first-child {
  margin-left: 160px;
}
#item_detail #sec1 .inner ul li:last-child {
  margin-right: 0px;
}
#item_detail #sec1 .inner ul li img {
  width: 100%;
}

/* SEC2*/
#item_detail #sec2 {
  width: 100%;
  background: #000;
  padding: 100px 0 100px;
  position: relative;
}
#item_detail #sec2 .inner {
  width: 80%;
  margin: 0 auto;
}
#item_detail .red-caption {
  color: red;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 20px auto;
}

/* SEC3*/
#item_detail #sec3 {
  text-align: center;
}
#item_detail #sec3 img {
  width: 80%;
}
#item_detail #sec3 .protect p {
  top: 10vw;
}
#item_detail #sec3 .magnum p {
  top: 8vw;
}
#item_detail #sec3 .knife p {
  top: 15vw;
}
#item_detail #sec3 .driver p {
  top: 17vw;
}
#item_detail #sec3 .heaven p {
  top: 9vw;
}
#item_detail #sec3 p {
  font-size: 16px;
  text-align: left;
  width: 550px;
  position: absolute;
  left: 10vw;
}
#item_detail #sec3 .gg_bg02,
#item_detail #sec3 .gg_bg03 {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 45px 0;
}
#item_detail #sec3 .gg_bg02 {
  background-image: url(../img/gg_bg02.png);
}
#item_detail #sec3 .gg_bg03 {
  background-image: url(../img/gg_bg03.png);
}

#item_detail #sec4 {
  width: 80%;
  margin: 10px auto;
}

#item_detail #sec4 img {
  margin: 30px auto;
}
#item_detail #sec4 .gao_intro {
  position: relative;
}
#item_detail #sec4 .gao_intro p {
  position: absolute;
  width: 60%;
  bottom: 4vw;
  right: 0;
}

/* gene_machine */
#item_detail .gao_machines {
  display: flex;
  justify-content: space-between;
  margin: 40px auto;
}
#item_detail .gao_machines img {
  width: 50%;
}

#item_detail #gene_machine {
  text-align: center;
  position: relative;
}
#item_detail #gene_machine img {
  width: 80%;
}
#item_detail #gene_machine .gene_machine_description {
  width: 580px;
  text-align: left;
  margin-bottom: 20px;
  margin-left: 15%;
}
#item_detail #gene_machine .gene_machine_description img {
  width: 400px;
  margin: 20px auto;
}

#item_detail #gene_machine .info {
  position: absolute;
  width: 450px;
  bottom: 3vw;
  left: 11vw;
  text-align: left;
}
/* unit_linkage */
#unit_linkage {
  position: relative;
}
#unit_linkage .info {
  position: absolute;
  left: 10vw;
  width: 500px;
  font-size: 16px;
}

.sec5_img3 {
  display: block;
  width: 1080px;
  margin: 0 auto;
}

.sec5_img3 li {
  margin: 20px;
}

.sec5_img3 p {
  position: absolute;
  left: 250px;
  bottom: 100px;
  width: 450px;
}

/* INFO*/
#item_detail #info {
  width: 100%;
}
#item_detail #info .img1 {
  width: 100%;
  height: 80vw;
  object-fit: cover;
  object-position: 100% 0;
}
#item_detail #info .text {
  width: 600px;
  margin: 10px auto;
}
#item_detail #info p.caution {
  text-align: center;
  font-size: 12px;
}

#item_detail .btnBuy {
  width: 500px;
  margin: 60px auto;
}

#copyright1 {
  width: auto;
  margin: 30px auto 140px;
}
#copyright1 p {
  font-size: 12px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
  .fixed_logo {
    width: 180px;
  }
  #item_detail #sec3 .heaven p {
    width: 415px;
  }
}

@media screen and (max-width: 1000px) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
  #item_detail #sec3 .heaven p {
    width: 415px;
  }
}

@media screen and (max-width: 950px) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }

  .fixed_logo {
    width: 130px;
  }
}

@media screen and (max-width: 770px) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
  /* TOP */
  #item_detail {
    font-size: 3.5vw;
  }
  .fixed_logo {
    width: 70px;
  }
  #item_detail #top {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position-x: -400px;
  }
  #item_detail #top .inner div {
    position: absolute;
  }
  #item_detail #top .inner {
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
  }
  #item_detail #top .inner .copy {
    width: calc(100% * 680 / 800);
    top: 7vw;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  #item_detail #top .inner .pict1 {
    width: 85%;
    top: auto;
    bottom: 12vw;
    left: 0px;
    right: 0;
    margin: 0 auto;
  }
  #item_detail #top .inner .title {
    width: calc(100% * 500 / 800);
    top: 14vw;
    right: 1vw;
  }

  /* LEAD */
  #item_detail #lead {
    width: 100% !important;
    height: auto;
    padding: 0;
    margin-top: -5vw;
    position: relative;
    z-index: 9;
  }

  #item_detail #lead .inner dl {
    width: 90%;
    margin: 0px auto;
  }
  #item_detail #lead .inner dl dt {
    width: 60%;
    margin: 0 auto 5vw;
    height: auto;
    float: none;
    align-items: flex-start;
  }
  #item_detail #lead .inner dl dd {
    margin-left: 0px;
  }
  #item_detail #lead .inner dl dd strong {
    font-size: 5.5vw;
    text-align: center;
    line-height: 1.3;
    margin-bottom: 20px;
    display: block;
  }

  #item_detail #lead .inner .mov {
    margin-top: 10vw;
    width: 90%;
  }

  #item_detail #lead .inner .lead-description {
    margin-bottom: 100px;
    height: 600px;
  }

  /* init */
  #item_detail section .inner {
    width: 100%;
  }
  #item_detail h2 {
    font-size: 50px;
  }
  #item_detail .red-caption {
    font-size: 1.2rem;
  }

  /* SEC1 */
  #item_detail #sec1 {
    width: 100%;
    height: auto;
  }
  #item_detail #sec1 .inner {
    margin-bottom: 150px;
  }
  #item_detail #sec1 .inner div {
    position: absolute;
  }
  #item_detail #sec1 .inner .caption {
    width: 60%;
    top: 82vw;
    left: 11vw;
  }

  #item_detail #sec1 .inner ul {
    position: absolute;
    width: 96%;
    margin: 0px auto;
    top: auto;
    bottom: 2vw;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
  }

  #item_detail #sec1 .inner ul li {
    width: 46%;
    margin: 2%;
  }
  #item_detail #sec1 .inner ul li:first-child {
    margin-left: auto;
    margin-right: 50%;
  }
  #item_detail #sec1 .inner ul li:last-child {
    margin-right: auto;
  }
  #item_detail #sec1 .inner ul li img {
    width: 100%;
  }

  /* SEC2*/
  #item_detail #sec2 {
    width: 100%;
    background: #000;
    padding: 0;
    position: relative;
  }

  #item_detail #sec2:after {
    content: "";
    width: 100%;
    height: 48px;
    background: url(_image/bg_line.png) center top;
    position: absolute;
    bottom: -24px;
  }
  #item_detail #sec2 .inner p.caption {
    width: 90%;
    margin: 0 auto;
  }
  #item_detail #sec2 .inner ul {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
  }
  #item_detail #sec2 .inner ul li {
    width: 80%;
    margin: 2vw auto;
  }
  #item_detail #sec2 .inner ul li:first-child {
    width: 100%;
  }
  #item_detail #sec2 .inner ul li p.heading {
    font-size: 5.5vw;
    font-weight: bold;
  }

  /* SEC3*/
  #item_detail #sec3 .gg_bg02,
  #item_detail #sec3 .gg_bg03 {
    margin-bottom: 65px;
  }
  #item_detail #sec3 .protect p {
    top: 40vw;
  }
  #item_detail #sec3 .magnum p {
    top: 38vw;
  }
  #item_detail #sec3 .knife p {
    top: 47vw;
  }
  #item_detail #sec3 .driver p {
    top: 66vw;
  }
  #item_detail #sec3 .heaven p {
    top: 41vw;
  }
  #item_detail #sec3 p {
    font-size: 14px;
    width: 80%;
  }

  /* gene_machine */
  #item_detail .gao_machines {
    display: block;
  }
  #item_detail #gene_machine {
    margin-bottom: 40vw;
  }
  #item_detail #gene_machine .gene_machine_description {
    width: 80%;
    margin: 30px auto;
    padding-top: 30px;
  }
  #item_detail #gene_machine img {
    width: 90%;
  }

  #item_detail #gene_machine .info {
    width: 80%;
    bottom: -28vw;
  }

  #item_detail #sec4 img {
    margin: 5px auto;
  }

  #item_detail .gao_machines img {
    width: 100%;
  }
  #item_detail #sec4 .gao_intro img {
    margin-bottom: 38vw;
  }

  #item_detail #sec4 .gao_intro p {
    width: 100%;
    bottom: 10vw;
    font-size: 3.5vw;
  }

  /* unit_linkage */
  #unit_linkage {
    margin-top: 40px;
  }

  #unit_linkage .info {
    width: 80%;
    position: relative;
    font-size: 3.5vw;
  }

  /* INFO*/
  #item_detail #info {
    width: 100%;
    height: 130vw;
    background: #000;
    padding: 0px;
    position: relative;
  }

  #item_detail #info .inner {
    width: 100%;
    margin: 0 auto;
    padding: 0 0 10vw;
  }

  #item_detail #info .img1,
  #item_detail #info .img1 img {
    width: 100%;
    height: 80vw;
    object-fit: cover;
    object-position: 100% 0;
  }
  #item_detail #info .text {
    width: 84%;
    position: absolute;
    top: 80vw;
    left: 0;
    right: 0px;
    margin: 0 auto;
    font-size: 3vw;
  }
  #item_detail #info p.caution {
    width: 90%;
    position: absolute;
    top: 115vw;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    font-size: 3vw;
  }

  #item_detail .btnBuy {
    width: 80%;
    margin: 0px auto 5vw;
  }

  #copyright1 {
    width: 96%;
    margin: 5vw auto 0;
  }

  #copyright1 p {
    font-size: 2.5vw;
    text-align: center;
  }

  #item_detail #sec3 .heaven p {
    width: 300px;
  }
}

@media screen and (max-width: 430px) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }

  #item_detail #lead .inner .lead-description {
    height: 330px;
  }
  #item_detail #sec3 .gg_bg02,
  #item_detail #sec3 .gg_bg03 {
    margin-bottom: 115px;
  }
  #item_detail #sec3 p {
    margin-top: 20px;
    font-size: 11px;
  }
  .fixed_logo {
    width: 50px;
  }

  #item_detail #sec3 .gg_bg02,
  #item_detail #sec3 .gg_bg03 {
    margin-bottom: 130px;
  }

  #item_detail #sec3 .heaven p {
    width: 260px;
  }
}

.position-relative {
  position: relative;
}

.d-flex {
  display: flex;
}

.mr3 {
  margin-right: 3%;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.sec_title_w {
  width: 489px;
}

.spec_title_w {
  width: 80%;
}

.point4_detail {
  position: relative;
}

.point4_detail::before {
  content: "さらに爪先の広い可動域により、\A引っ掻くポーズが可能。";
  white-space: pre-wrap;
  position: absolute;
  right: 500px;
  bottom: 30px;
}

.point4_detail::after {
  content: "";
  background: url(_image/arrow.png);
  display: inline-block;
  position: absolute;
  right: 470px;
  bottom: 35px;
  width: 20px;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;
}
